<%- include ("./layout/top") %>
    <div class="content">
        <div class="text">
            <h1>CHOOSE YOUR BEST KOREAN PLAYER IN 2021</h1>
        </div>
        <div class="black-bg ">
            <div class="content-bg">
            </div>
        </div>
    </div>
<%- include ("./layout/bottom") %>