<!doctype html>
<html>
<head>
    <title>login</title>
</head>
<body>
    <h1>success</h1>
    <hr>
    <h1><%= nicname %></h1>
    <img src=<%= image %>>
    <h1><%= userpage %></h1>
</form>
</body>
</html>