</div>
<div class="footer-container">
    <div class="footer-wrapper">
        <div style="margin-bottom: 1rem;">enonone522@gmail.com | liy908@gmail.com</div>
        <div>ⓒosu! Korean Top Players Organization, All rights reserved.</div>
    </div>
</div>
</body>

</html>